body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(../imgs/snop.jpg);
  overflow-x: hidden;
}

#btn1{
position:fixed;
top:50px;
left:50px;
width: 100px;
height: 30px;
padding: 30px;
background-color: #081B30;
z-index:1;
color:white;
text-align: center;
vertical-align: middle;
font-weight: bold;
font-size: 20px;
font-family:  Helvetica, sans-serif;
}
